/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

/* Global */
html, body {
  height:100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

img {
  display: block;
}

/* Form */
#response {
  color: #c3514b;
}

.success {
  color: #4bc364 !important;
}

.hidden {
  display: none;
}

.error {
  border-color: #c3514b !important;
}

.error:focus {
  box-shadow: 0 0 7px rgba(195, 81, 75, 0.5) !important;
}

input {
  background-color: white;
  border: 1px solid #979797;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
  background-color: white;
}

.button {
  outline: none;
  background-image: -webkit-linear-gradient(270deg, #8dace0 0%, #898ece 100%);
  background-image: linear-gradient(180deg, #8dace0 0%, #898ece 100%);
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 600;
}

.enabled {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(270deg, #598bdf 0%, #5e67d0 100%);
  background-image: linear-gradient(180deg, #598bdf 0%, #5e67d0 100%);
}

.enabled:hover, .enabled:active {
  outline: none;
  cursor: pointer;
  cursor: hand;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(270deg, #3273de 0%, #5057ad 100%);
  background-image: linear-gradient(180deg, #3273de 0%, #5057ad 100%);
}

/* End form */

/* mobile format */
@media screen and (max-width:767px) {
  .header-container {
    overflow:hidden;
  }

  /* Text */
  .text-container {
    padding-top: 20px;
  }

  .text {
    font-size: 6vw;
  }

  .star {
    padding-top: 5px;
    font-size: 4vw;
  }

  .form-container {
    padding-top: 20px;
  }

  #header {
    height: 100%;
  }

  .hand-container {
    padding: 20px 20px 0 20px;
  }

  #hand {
    width: 70%;
    height: auto;
  }

  .logo-container {
    padding: 20px 20px 0 20px;
  }

  #logo {
    width: 100%;
    height: auto;
  }

  .info {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-weight: 600;
    text-align: center;
  }

  #form {
    display: flex;
  }

  #form > * {
    line-height: 40px;
  }

  #response {
    padding-top: 15px;
    font-weight: 600;
    font-size: 4vw;
  }

  .header-container {
    position: relative;
  }

  #cellphone {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: auto;
  }

  input {
    padding-left: 0.5em;
    margin-left: 25px;
    margin-right: 2px;
    font-size: 1vmax;
  }

  .button {
    margin-right: 25px;
    margin-left: 2px;
    font-size: 1vmax;
  }

  #response > span {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
  }

  .success > span{
    background-color: rgba(255,255,255,0.8) !important;
  }
}

/* Mobile form twicking */
@media screen and (max-width:499px) {
  #form {
    flex-direction: column;
  }

  input {
    font-size: 2.5vmax;
  }

  .button {
    font-size: 2.5vmax;
  }

  #form > * {
    margin: 10px 45px 0 45px;
  }
}

@media screen and (min-width:500px) and (max-width:767px) {
  #form {
    flex-direction: row;
  }

  input {
    flex: 1;
    margin-right: 2px;
    font-size: 1.8vmax;
  }

  .button {
    flex: 1;
    margin-left: 2px;
    font-size: 1.8vmax;
  }
}

@media screen and (min-width:600px) and (max-width:767px) {
  input {
    margin-left: 90px;
  }

  .button {
    margin-right: 90px;
  }
}
/* End form twicking */
/* End mobile format */

/* Tablet and desktop format */
@media screen and (min-width:768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex: 1;
    min-height: 200px;
    position: relative;
  }

  .form-container {
    position: relative;
  }

  #header {
    width: 100%;
    height: auto;
  }

  #hand {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
  }

  #logo {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .info {
    text-align: center;
    align-self: center;
  }

  /* Text */
  #cellphone {
    display: none;
  }

  .text-container {
    display: none;
    visibility: hidden;
  }

  #response {
    padding-top: 10px;
    font-weight: 600;
    font-size: 2vw;
    position: absolute;
    width: 100%;
  }

  input {
    padding-left: 1em;
    margin-right: 2px;
    font-size: 2vmax;
    padding: 1vmax 2vmax 1vmax 2vmax;
  }

  .button {
    margin-left: 2px;
    font-size: 2vmax;
    padding: 1vmax 2vmax 1vmax 2vmax;
  }

  .empty {
    flex: 1;
  }

  .info {
    flex: 2;
  }
}
/* End tablet and desktop format */

/* Tablet format */
@media screen and (min-width:768px) and (max-width:1023px) {
  #hand {
    width: 35%;
  }

  #logo {
    margin-left: 150px;
  }
}
/* End Tablet format */

/* Desktop format */
@media screen and (min-width:1024px) {
  #hand {
    width: 25%;
  }

  #logo {
    margin-left: 200px;
  }
}
/* End Desktop format */

@media screen and (min-width : 1224px) {

}
