@import "./reset.css";

/* Global */
html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  display: block;
}

/* Form */
.response {
  color: #ce4844;
}
.response.success {
  color: #4bc364;
}

.hidden {
  display: none;
}

input {
  background-color: white;
  border: 1px solid #979797;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.1);
  font-variant: small-caps;
}

input:focus {
  outline: none;
  background-color: white;
}

.error {
  border-color: #ce4844;
  color: #ce4844;
}

.error:focus {
  box-shadow: 0 0 7px rgba(195, 81, 75, 0.5) !important;
}

.button {
  outline: none;
  background-image: linear-gradient(180deg, #8dace0 0%, #898ece 100%);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 600;
  font-variant: small-caps;
}

.enabled {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(180deg, #598bdf 0%, #5e67d0 100%);
}

.enabled:hover, .enabled:active {
  outline: none;
  cursor: pointer;
  cursor: hand;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(180deg, #3273de 0%, #5057ad 100%);
}

.cellphone {
  position: absolute;
}

#hand, #header {
  visibility: hidden;
}

/* End form */

/* Images */
.hand-container {
  background: url("../images/hand.png") no-repeat bottom left / contain;
  width: 100%;
}

.header-container {
  background: url("../images/header@1x.jpg") no-repeat top left / cover;
}

@media screen and (min-resolution: 1.3dppx) {
  .hand-container {
    background: url("../images/hand@2x.png") no-repeat bottom left / contain;
  }
  .header-container {
    background: url("../images/header@2x.jpg") no-repeat top left / cover;
  }
}

@media screen and (min-resolution: 3dppx) {
  .hand-container {
    background: url("../images/hand@3x.png") no-repeat bottom left / contain;
  }
  .header-container {
    background: url("../images/header@3x.jpg") no-repeat top left / cover;
  }
}

/* End images */

/* mobile format */
@media screen and (max-width:767px) {
  .header-container {
    background: url("../images/header-small.png") no-repeat;
    overflow: hidden;
  }

  .text-container-header {
    display: none;
  }
  /* Text */
  .text-container {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .text {
    font-size: 6vw;
  }

  .star {
    padding-top: 5px;
    font-size: 4vw;
  }

  .form-container {
    padding-top: 20px;
  }

  #header {
    height: 100%;
  }

  .hand-container {
    margin: 20px 20px 0 20px;
    width: 70%;
    height: auto;
  }

  #hand {
    width: 100%;
    height: auto;
  }

  .logo-container {
    height: auto;
    padding: 0 50px;
  }

  #logo {
    width: 100%;
    height: auto;
  }

  .info {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-weight: 600;
    text-align: center;
  }

  #form {
    display: flex;
  }

  .response {
    padding-top: 15px;
    font-weight: 600;
    font-size: 5.5vmin;
  }

  .header-container {
    position: relative;
  }

  .cellphone {
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: auto;
  }

  input {
    flex: 1;
    margin-left: 25px;
    font-size: 1em;
    padding: 0.8em 1.3em;
  }

  .button {
    flex: 1;
    margin-right: 25px;
    font-size: 1em;
    padding: 0.8em 1.3em;
    margin-left: 4px;
  }

  .response > span {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
  }
}

/* Mobile form twicking */
@media screen and (max-width:499px) {
  #form {
    flex-direction: column;
  }

  #form > * {
    margin: 10px 45px 0 45px;
  }
}

@media screen and (min-width:500px) and (max-width:767px) {
  #form {
    flex-direction: row;
  }
}

@media screen and (min-width:600px) and (max-width:767px) {
  input {
    margin-left: 70px;
  }

  .button {
    margin-right: 70px;
  }
}
/* End form twicking */
/* End mobile format */

/* Tablet and desktop format */
@media screen and (min-width:768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex: 1;
    min-height: 100px;
    position: relative;
  }

  .form-container {
    position: relative;
  }

  #header {
    width: 100%;
    height: auto;
  }

  .hand-container {
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
  }

  #logo {
    position: absolute;
    height: 10vh;
    bottom: 0;
    left: 0;
  }

  .info {
    text-align: center;
    align-self: center;
  }

  /* Text */
  .cellphone {
    display: none;
  }

  .text-container {
    display: none;
  }

  .header-container {
    position: relative;
    max-height: 66vh;
  }

  .text-container-header {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 10px 15px;
    white-space: nowrap;
    position: absolute;
    top: 20%;
    right: 20px;
    color: white;
    height: auto;
    text-align: center;
    font-weight: 600;
    font-size: 3.5vw;
  }

  .text-header {
    width: 100%;
    height: auto;
    font-size: 1em;
  }

  .star-header {
    font-size: 0.75em;
  }

  .response {
    padding-top: 10px;
    font-weight: 600;
    font-size: 2vw;
    position: absolute;
    width: 100%;
  }

  input, .button {
    flex: 1;
    margin-right: 2px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 20px;
    font-size: 3vmin;
    padding: 10px 15px;
  }

  input {
    padding-left: 0.5em;
  }
  .button {
    margin-left: 2px;

  }

  .empty {
    flex: 1;
  }

  .info {
    flex: 2;
  }
}
/* End tablet and desktop format */

/* Tablet format */
@media screen and (min-width:768px) and (max-width:1023px) {
  .hand-container img {
    width: 35%;
  }

  #logo {
    margin-left: 20%;
  }
}
/* End Tablet format */

/* Desktop format */
@media screen and (min-width:1024px) {
  .hand-container img {
    width: 30%;
  }

  #logo {
    margin-left: 20%;
  }
}

@media screen and (min-width: 1440px) {
  .hand-container img {
    width: 25%;
  }}
/* End Desktop format */
